#main {
    padding: 10px;
}

.tooltip {
    opacity: 1;
}

.tooltip .tooltip-inner {
    background-color: #999;
}

.slider-handle.round {
    background-image: linear-gradient(to bottom,#979797 0,#707070 100%);
}

label {
    font-size: 13px;
    font-weight: bold;
    color: #555;
    padding: 2px;
}

.legend circle {
    stroke: #555;
}

.legend text {
    font-family: "Open Sans";
    font-size: 12px;
    fill: #555;
}

p {
    color: white;
}

.ticks path{
    opacity: 0.5;
    stroke: white
}

.ticks text {
    opacity: 0.5;
    fill: white
}

.ticks line {
    opacity: 0.5;
    stroke: white
}

#maptoolTip {
    max-width: 330px;
    width:330px;
    padding-top: 120px;
    padding-left: 30px;
    margin-left: 30px;
    padding-right: 20px;
    background-color: #041025;

}

span.attr-name {
    opacity: 0.5
    
}

p.info {
    position: relative;
}

p.intro-title {
    font-size: 24px;
}

span.attr {
    
}

#event {
    padding-top: 150px;
}

div.horizontal-line {
    width: 80px;
    height: 5px;
    background-color: white;
    margin-bottom: 30px;

}